<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>

        <div class="container">
          <div class="site">
	      <div class="sidebar">
		<div class="header">
		  <h1 class="title"><a href="/">{{ site.name }}</a></h1>
		  <a class="extra" href="/">home</a>
		</div>
		<a href="/about.html">about</a>
		<br>
		<a href="/blogs.html">posts</a>
		<br>
		<a href="/research.html">research</a>
		<br>
		<a href="/teaching.html">teaching</a>
	      </div>

	      <div id="home">
              {{ content }}
	      <br>
	      </div>
            <div class="footer">
              <div class="contact">
                <p>
                  Patrick Baylis<br />
                  Graduate Student in Agricultural and Resource Economics at UC-Berkeley<br />
                  pbaylis@gmail.com
                </p>
              </div>
              <div class="contactright">
                <p>
                  <a href="http://github.com/pbaylis/">github.com/pbaylis</a><br />
<a href="http://www.ackersteinsustainability.com">ackersteinsustainability.com</a>
                </p>
              </div>
            </div>
          </div>
        </div> <!-- /container -->

    </body>
</html>
